#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.selector-container {
    display: flex;
    gap: 20px;
}

.selector>select {
    width: 250px;
}

.textbox-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 800px;
    height: 50vh;
}

.selector,
.textbox-container>textarea {
    width: 50%;
    line-height: 1.6;
}

.progress-container {
    position: relative;
    font-size: 14px;
    color: #2c2c2c;
    background-color: #2c2c2c;
    border: solid 1px #444;
    border-radius: 8px;
    text-align: left;
    overflow: hidden;
}

.progress-bar {
    padding: 0 4px;
    z-index: 0;
    top: 0;
    width: 1%;
    height: 100%;
    overflow: hidden;
    background-color: #66d9ef;
    white-space: nowrap;
}

.progress-text {
    z-index: 2;
    position: relative;
}

.progress-bars-container {
    padding: 8px;
    height: 140px;
}

.container {
    margin: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}